* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header__logo--image {
    color: black;
}

.nav__primary {
    display: flex;
    justify-content: space-between;
}

.nav__primary__items {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.nav__primary__link {
    text-decoration: none;
    color: black;
}

.red {
    color: red;
}

.header__logo--image {
    overflow-clip-margin: none;
}

.nav__secondary {
}

.nav__secondary__items {
    list-style: none;
     display: flex;
     gap: 1rem;
}

.blue {
    color: blue;
}

.nav__secondary__item {
    
}